html {
    background-color: #3c3f41;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

.nav {
    background-color: #23297a;
    color: #ffffff;
    list-style: none;
    text-align: right;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    position: fixed;
    opacity: 0.7;
}

.nav > li{
    display: inline-block;
    padding: 25px;
    font-size: 14px;
}

.nav > li > a{
    text-decoration: none;
    color: #ffffff;
}

.nav > li > a:hover{
    color: #c1c1c1;
    font-weight: bold;
    font-size: 14;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.nav > li > a:active{
    color: #d1d1d1;
    font-weight: bold;
    font-size: 14;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.logo{
    color: #ffffff;
    float: left;
    padding-left: 25px;
    font-size: 24px;
    font-weight: bold;
    font-family: Tahoma;
}

.banner{
    width: 100%;
    display: block;
}

.banner > .banner-image{
    width: 100%;
    display: block;
}

audio {
    background-color: #3c3f41;
}

div > .button > li {
    color: #6195BD;
    text-align: left;
    margin-top: 0;
    display: inline-block;
}

#canvas {
    background-color: black;
    width: 500px;
    height: 400px;
    position: absolute;
    margin: auto;
    padding: 0;
    display: block;
}

.songName{
    color: #3ad5ff;
    font-size: 48;
    font-family: Tahoma;
}

.songItems{
    background-color: inherit;
    color: #3ad5ff;
    list-style: none;
    text-align: center;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.songItems > li{
    display: inline-block;
    padding: 15px;
    list-style: none;
    font-size: 14px;
}

.songItems > li > button{
    display: inherit;
    list-style: none;
    padding: 0 5px 0 5px;
}
